#toolbar {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

#toolbar li {
  display: inline-block;
  list-style: none;
}

#toolbar li i {
  /* color: #8bc34ac9; */
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
  font-size: 15px;
  background-color: white;
  border: 2px solid white;
  cursor: pointer;
}

#toolbar li i:hover {
  background: transparent;
  border: 2px solid white;
}
